# Virtual environments
venv/
env/

# Data and models
/data/
*.pt
*.pth
*.pth.tar
*.h5

# Generated text files and preview
saved_images/
checkpoints/
test_result.png
loss_log.txt

# Python trash 
__pycache__/
*.pyc

# Code editors file
.vscode/
.idea/